<head>
  <style>
    body{
      
      background-image: url('https://st2.depositphotos.com/4320929/6590/v/450/depositphotos_65900755-stock-illustration-pattern-of-different-vegetables.jpg');
      background-size: cover;
    }
    form{
      height: 60px;

    }

    .h1{
      size: 200;
    }
     .button-52{

      background-color: rgb(12, 12, 63);
      color: white;
      padding: 4px 20px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
    }
    
  </style>
</head>

{% extends 'home1.html' %}
{% block content %}
<a href="{{url_for('home')}}"><button class="button-52">Go to home</button></a>
<center><h1>Contact Us</h1></center>
<div class="container">
<form method="POST">
    
    <label>Name:</label>
    <input type="text"  name="name" placeholder="Your name.." required>

    <label >Email:</label>
    <input type="text"  name="emailid" placeholder="Your email.." required>

  

    <label >Message</label>
    <textarea  name="msg" placeholder="Write something.." style="height:200px" required></textarea>

    <a href="{{url_for('contactus')}}"><input type="submit" value="Submit"></a>

  </form>
  
</div>


{% endblock %}
